.logo {
    display: block;
    margin: auto;
}
.carap {
    display: block;
    margin-left: auto;
    position: relative;
    top: -140px;
    width: 142px;
}
.ball {

    width: 100px;
    margin-left: -1px;

}

.dex {
    width: 100px;
    margin-left: -5px;
}

.map {
    width: 110px;
    margin-left: -5px;
}

.quizz {
    width: 70px;
    margin-left: 5px;
}


/* paramétrage de la scène */
#wrapper{
  
    position: relative;
    width: 300px;
    height: 240px;
    margin: 50px auto;
    /*border: 1px solid #CCC;*/
  
   /*la distance entre "le point de vue" virtuel 
    et le point d'origine Z = 0 sur l'axe de perspective Z
    */
    perspective: 6100px;
    
   /* Position du point de fuite (l'oeil de l'internaute) 
    sur l'axe X et Y dans le contexte 3D. */
    perspective-origin : 50% 50%;
  }
  
  /* paramétrage du plan dans la scène */
  #allPlan{
   
    position: relative; 
    height:150%;
    width:200%;
     
    animation: carrousel 60s infinite linear forwards ;
    /* animation-play-state : paused; */
    /* Les enfants de cet élément sont positionnés dans un espace 3D */
    transform-style: preserve-3d;
  }
  
  .plan{
    position: absolute;
    width: 400px;
    height: 300px;
    left: 5px;
    top: 5px;  
    text-align: center; 
  }
  .plan img{  
    height:300%;
    width:100%;
  }
  
  /* paramétrage des éléments dans le  plan 
  6 éléments  360deg/6 elements = 60deg
  6 éléments  mis cote à cote forme une Hexagone
  Rayon  = distance entre élément et centre rotation de du plan
  Rayon = (longueur  désirée de la face de l'exagone /2 ) /tang(360deg/Nb éléments/2);
  Rayon = (577/2)/tang(60/2) = 499.69
  
  Plus la longueur  désirée de la face de l'exagone est grande plus le rayon est grand
  
  */
  .p1 { transform: rotateY(0deg) translateZ(500px); }
  .p2 { transform: rotateY(60deg) translateZ(500px); }
  .p3 { transform: rotateY(120deg) translateZ(500px); }
  .p4 { transform: rotateY(180deg) translateZ(500px); }
  .p5 { transform: rotateY(240deg) translateZ(500px); }
  .p6 { transform: rotateY(300deg) translateZ(500px); } 
  
  @-webkit-keyframes carrousel{
    from { transform: translateZ(-500px) rotateY(0deg); }
    to   { transform : translateZ(-500px) rotateY(360deg); }
  }