
.logo {
        display: block;
        margin-left: auto;
        margin-right: auto 
    }

.profchen{
    width: 100px;
    height: 180px;
    /* rapport largeur hauteur 1.81 */
}
        
.blabla {
    text-align: center;
}



.container{
    margin: 50px auto auto auto;
    width: 30%;
    text-align: center;
}

.btn_list{
    margin-bottom: 10px;
}

.pkb_size{
    width: 80px;
}

.pkb_anim{
    animation: rotation 3s infinite linear;
}

.starter{
    display: flex;
    justify-content: center;
}

.pkm_starter{
    width: 100px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }